<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
   
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/notification.css">
    <link rel="stylesheet" href="/static/css/notify-setting.css">
    <link rel="stylesheet" href="/static/css/security.css">
    <link rel="stylesheet" href="/static/css/profile.css">
    <title>MarketPulse - Settings</title>
</head>


<body>
    <div class="dashboard--container">
        <div class="sidebar--section">
            <div class="sidebar--logo">
                <img src="/static/img/logo.svg" alt="logo">
                <h1>MarketPulse</h1>
            </div>
            <div class="sidebar--links">
                <a href="{% url 'index' %}"  class="links">
                    <div class="dashboard">
                        <img src="/static/img/dashboard.svg" alt="dashboard--icon">
                        <p>Dashboard</p>
                    </div>
                </a>
                <a href="{% url 'notifications' %}"  class="links">
                    <div class="notification">
                        <img src="/static/img/notification.svg" alt="notification--icon">
                        <p>Notifications</p>
                    </div>
                </a>
                <a href="{% url 'settings' %}"  class="links">
                    <div class="settings">
                        <img src="/static/img/setting-notify.svg" alt="settings--icon">
                        <p>Account Settings</p>
                    </div>
                </a>
            </div>
            <!-- <a href="#"> -->
                <div class="logout">
                    <img src="/static/img/logout.svg" alt="logout--icon">
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            <!-- </a> -->
        </div>

        <div class="main--content">
            <header class="header--section">
                <div class="search-container">
                    <input type="text" id="search-input" class="search-input" placeholder="Type to search...">
                </div>

                <div class="profile--section">
                    <a href="{% url 'notifications' %}" class="notify--icon"><i class="far fa-bell"></i></a>
                    <img src="/static/img/Line.svg" alt="dividing line">
                    <a href="{% url 'settings' %}" class="header--profile">
                        <div>
                            <h4>{{ user_name }}</h4>
                            <p>{{ user_group }}</p>
                        </div>
                        <img src="/static/img/profile.jpg" alt="user profile icon">
                    </a>
                </div>
            </header>

            <div class="content">
                <section>
                    <div class="header-container">
                        <h1 class="header-title">Settings</h1>
                        <div class="breadcrumb">
                            <!-- <a href="/dashboard" class="breadcrumb-link"> </a> -->
                                Dashboard / Account Settings /
                            <span class="breadcrumb-current">Profile</span>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="settings-container">
                        <aside class="sidebar">
                            <ul class="menu">
                                <li class="active">
                                    <img src="/static/img/arrow.svg" alt="arrow">
                                    <a href="{% url 'settings' %}">Profile</a>
                                </li>
                                <li><a href="{% url 'notification-settings' %}">Notification Preferences</a></li>
                                <li>
                                    
                                    <a href="{% url 'security-settings' %}">Secuity</a>
                                </li>
                            </ul>
                        </aside>

                        <div class="profile-container">
                            
                            <div class="personal-information">
                                
                                <h3>Personal Information</h3>
                                 <!-- Display messages -->
                                {% if messages %}
                                <div class="messages">
                                    {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <form action="{% url 'update_profile' %}" method="post" class="form">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="firstname">First Name</label>
                                            <input type="text" id="firstname" name="first_name" value="{{user.first_name}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="lastname">Last Name</label>
                                            <input type="tel" id="lastname" name="last_name" value="{{user.last_name}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email Address</label>
                                        <input type="email" id="email" name="email" value="{{user.email}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" id="username" name="username" value="{{user.username}}">
                                    </div>
                                    <div class="form-actions">
                                        <!-- window.location="{% url 'settings' %}"; -->
                                        <button type="button" class="btn cancel" onclick='window.location="{% url "settings" %}";'>Cancel</button>


                                        <button class="btn save">Save</button>
                                    </div>
                                </form>
                            </div>

                            <div class="photo-section">
                                <h3>Your Photo</h3>
                                <div class="photo-container">
                                    <div class="edit-photo">
                                        <img src="/static/img/profile.jpg" alt="Your Photo">
                                        <div class="">
                                            <h5>Edit your photo</h5>
                                            <a class=" delete">Delete</a>
                                            <a class=" update">Update</a>
                                        </div>
                                    </div>
                                    <div class="upload-area">
                                        <span>Click to upload or drag and drop</span>
                                        <span>SVG, PNG, JPG or GIF (max. 800 x 800px)</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>
                
            </div>
        </div>
    </div>
</body>
</html>