<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<title>Sign Up</title>
<link rel="stylesheet" href="../static/css/register.css">
</head>
<body>

<div class="signup-container">
  <div class="form-container">
    <h2>Create an Account</h2>
    <p>Create an account to continue</p>

    <form action="{% url 'signup-api' %}" method="post">
      {% csrf_token %}
      <div class="input-group">
        <label for="email">Email address</label>
        <input type="email" id="email" name="email" required>
      </div>

      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>

      <div class="input-group">
        <label for="fullName">Full Name</label>
        <input type="text" id="fullName" name="fullName" required>
      </div>

        <div class="input-group">
            <label for="accountType">Account Type</label>
            <select id="accountType" name="account_type" class="form-control">
              <option value="" disabled selected>Select your account type</option>
              <option value="Retailer">Retailer</option>
              <option value="Wholesaler">Wholesaler</option>
              <option value="Manufacturer">Manufacturer</option>
            </select>
        </div>

      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>

      <div class="checkbox-group">
        <input type="checkbox" id="terms" name="terms">
        <label for="terms">I accept terms and conditions</label>
      </div>

      <button type="submit" class="submit-btn">Sign Up</button>

      <div class="login-link">
        Already have an account? <a href="{% url 'login' %}">Login</a>
      </div>
    </form>
  </div>
</div>

</body>
</html>
