.settings-content {
    flex-grow: 1;
    padding: 20px;
    width: 800px;
}


.delete-section {
    background: #fff;
    margin-bottom: 20px;
    padding: 50px;
    display: flex;
    
    align-items: center;
    border-radius: 8px;
}

.password-section {
    background: #fff;
    margin-bottom: 20px;
    padding: 50px;
    border-radius: 8px;
}

.password-info-wrapper {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center-align the items vertically */
    
}

.security--title {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.icon-container {
    margin-right: 20px;
}

.text-container {
    flex-grow: 1; /* Allow the text container to take up remaining space */
}

.text-container h3, .text-container p {
    margin: 0;
}

.text-container p {
    color: #9C9A9A;
}

form {
    margin-left: auto;
}

.change-password-form {
    width: 100%;
    margin-top: 20px;
    display: none;
}

.change-password-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.change-password-form input[type="password"]:focus {
    outline: none;
    border-color: #00AF54;
    box-shadow: 0 0 8px rgba(0, 175, 84, 0.2);
}

.form-group {
    margin-bottom: 15px;
}

.save-password {
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    background: #00AF54;
    color: white;
    outline: transparent;
    border: none;
}

.change-password,
.delete-account {
    margin-left: auto;
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
}

.change-password {
    background: black;
    
}

.delete-account {
    background: #a94442;
}

.messages {
    margin-bottom: 20px;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}